<h1>Where's A Burger</h1>

<div>
<img src="assets/img/smilingburger.png" alt ="burgers" height="50px" width="50px">
</div>

<h2>Give Me My Burger!</h2>



<ul>
  {{#each burgers}}
      {{#unless devoured}}
        <!-- this is how you call a partial template:  {{> -->
        <!-- also, you'll need a burgers folder in layouts and a burger-block.handlebars -->
        <!-- i suspect you are using the 13-MVC/16-MvcExample app? Yup- Rob--> 
        {{> burgers/burger-block devoured=false}}
      {{/unless}}
  {{/each}}
</ul>



<h2>Have A Burger!</h2>

                                
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>


  <button type="submit">submit</button>
</form>
