/* body {
 background-color: rgb(161, 99, 99);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    padding-right: 1cm;
}

img {
    align-content: center;
    height: 400px;
    width: 400;
}


.btn {
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
}

.create-form {
    text-align: center;
} 

.submit {
    align-items: center;
}
 */
